<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>studentWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.student.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addStudentServlet</display-name>
    <servlet-name>addStudentServlet</servlet-name>
    <servlet-class>com.student.servlet.addStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStudentServlet</display-name>
    <servlet-name>GetStudentServlet</servlet-name>
    <servlet-class>com.student.servlet.GetStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentServlet</servlet-name>
    <url-pattern>/GetStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatestudentServlet</display-name>
    <servlet-name>updatestudentServlet</servlet-name>
    <servlet-class>com.student.servlet.updatestudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestudentServlet</servlet-name>
    <url-pattern>/updatestudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateStudentServlet</display-name>
    <servlet-name>updateStudentServlet</servlet-name>
    <servlet-class>com.student.servlet.updatestudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStudentServlet</servlet-name>
    <url-pattern>/updateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletestudentServlet</display-name>
    <servlet-name>DeletestudentServlet</servlet-name>
    <servlet-class>com.student.servlet.DeletestudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletestudentServlet</servlet-name>
    <url-pattern>/DeletestudentServlet</url-pattern>
  </servlet-mapping>
</web-app>